@page
@model LoginModel

<form method="post">
    <input type="text" name="Username" placeholder="Username" />
    <input type="password" name="Password" placeholder="Password" />
    <button type="submit">Log In</button>
</form>
